.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formContainer{
	width: 70%;
	background: lightgray;
}

.formHeader{
	padding: 20px;
	color: green;
	background: white;
	border: 1px solid lightgray;
}

.instructions{
	padding: 20px;
	color: green;
}

.newContactForm{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 35%;
}

.submitButton{
	align-self: flex-end;
	background: #316292;
	color: white;
}

.listContainer{
	width: 70%;
}

.listUl {
	list-style: none;
}

.contact{
	display: flex;
	justify-content: center;
}

.contactUL {
	list-style: none;
}

.contactName{
	background: #ACB2B8;
	padding: 5px;
	color: white;
}